.total-plus-demo-importer-wrap * {
	box-sizing: border-box;
}

.total-plus-demo-importer-wrap {
	max-width: 1000px;
}

img {
	max-width: 100%;
}

.total-plus-demo-box-wrap {
	margin-left: -3%;
	margin-top: 25px;
}

.total-plus-demo-box {
	position: relative;
	float: left;
	margin-left: 3%;
	margin-bottom: 30px;
	width: 30.33%;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
}

.total-plus-demo-box img {
	display: block;
	width: 100%;
}

.total-plus-demo-box h4 {
	margin: 0;
	padding: 0 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 15px;
	font-weight: 600;
	background-color: #fafafa;
	line-height: 48px;
}

.total-plus-demo-actions {
	position: relative;
	border-top: 1px solid #ddd;
}

.total-plus-demo-buttons {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	height: 28px;
	padding: 10px;
	opacity: 1;
	background: rgba(244, 244, 244, 0.8);
}

.total-plus-demo-box:hover .total-plus-demo-buttons {
	display: block;
}

.total-plus-demo-buttons a {
	margin: 0 2px;
}

.total-plus-modal {
	border: 1px solid #eee;
	background: #fff;
	margin-top: 30px;
	max-width: 800px;
}

.total-plus-modal-header {
	position: relative;
	padding: 15px 30px;
	font-size: 14px;
	margin: 0;
	line-height: 1.4;
	background: #ffffff;
	border-bottom: 1px solid #eee;
}

.total-plus-modal-header h2 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 18px;
}

.total-plus-modal-header .total-plus-modal-back {
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px solid #EEE;
	height: 48px;
	width: 48px;
	text-align: center;
	cursor: pointer;
}

.total-plus-modal-header .total-plus-modal-back .dashicons {
	line-height: 48px;
	opacity: 0.8;
	display: inline-block;
	font-size: 22px;
}

.total-plus-modal-wrap {
	padding: 30px;
}

.total-plus-modal-wrap p {
	margin: 0 0 15px;
	padding: 0;
}

.total-plus-modal-recommended-plugins h4,
.total-plus-reset-checkbox h4 {
	margin: 30px 0 15px;
	font-size: 16px;
}

.total-plus-modal-recommended-plugins ul {
	margin: 0 0 15px;
	padding: 0;
}

.total-plus-modal-recommended-plugins ul li {
	margin-bottom: 10px;
}

.total-plus-reset-checkbox {
	margin-bottom: 30px;
}

#total-plus-import-progress {
	background: #FFF;
	max-width: 800px;
	text-align: center;
	margin-top: 25px;
}

#total-plus-import-progress .total-plus-import-progress-header {
	padding: 15px;
	border-bottom: 1px solid #EEE;
	margin: 0;
}

.total-plus-import-progress-wrap {
	padding: 40px;
}

#total-plus-import-progress .total-plus-import-loader svg {
	display: none;
}

#total-plus-import-progress.import-success .total-plus-import-loader svg {
	display: block;
}

#total-plus-import-progress.import-success .total-plus-import-loader img {
	display: none;
}

#total-plus-import-progress .total-plus-import-progress-message {
	font-size: 20px;
	margin-top: 50px;
}

.total-plus-import-progress-message .button {
	margin: 0 4px;
}

body.total-plus-modal-opened .total-plus-demo-box-wrap {
	display: none;
}

.total-plus-loader-content {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: 5px solid #00adff;
	border-radius: 100%;
}

.total-plus-loader-content-inside {
	width: 100%;
	height: 100%;
	position: relative;
}

.total-plus-loader-rotater {
	width: 100%;
	height: 100%;
	position: relative;
	animation: total-plus-rotate 3s linear infinite 1s;
}

.total-plus-loader-rotater:before {
	content: "";
	position: absolute;
	top: 0x;
	left: 50%;
	margin-left: -4px;
	height: 8px;
	width: 8px;
	background: #00adff;
	border-radius: 100%;
}

.total-plus-loader-line-point {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 24px;
	height: 24px;
	transition: height 0.15s ease 0.45s;
}

.total-plus-loader-line-point:before,
.total-plus-loader-line-point:after {
	content: "";
	position: absolute;
	width: 5px;
	height: 30px;
	bottom: -8px;
	background: #00adff;
	border-radius: 10px;
	transition: transform 0.1s ease 0.5s, left 0.1s ease 0.5s, right 0.1s ease 0.5s;
}

.total-plus-loader-line-point:before {
	right: 0px;
	transform: rotate(45deg);
}

.total-plus-loader-line-point:after {
	left: 0px;
	transform: rotate(-45deg);
}

.import-success .total-plus-loader-content {
	animation: total-plus-border-color 0.25s forwards 1s;
}

.import-success .total-plus-loader-rotater {
	display: none;
}

.import-success .total-plus-loader-line-point:after {
	transform: rotate(-90deg);
	left: -4px;
	animation: total-plus-check-left 0.25s forwards 1s;
}

.import-success .total-plus-loader-line-point:before {
	transform: rotate(90deg);
	right: -4px;
	animation: total-plus-check-right 0.25s forwards 1s;
}

@keyframes total-plus-check-left {
	0% {
		transform: rotate(-90deg);
		left: -4px;
		height: 30px;
		bottom: -8px;
	}
	100% {
		transform: rotate(-45deg);
		left: -5px;
		height: 20px;
		bottom: -5px;
		background: #4BB543;
	}
}

@keyframes total-plus-check-right {
	0% {
		transform: rotate(90deg);
		right: -4px;
		height: 30px;
		bottom: -8px;
	}
	100% {
		transform: rotate(45deg);
		right: 4px;
		height: 40px;
		bottom: -10px;
		background: #4BB543;
	}
}

@keyframes total-plus-border-color {
	0% {
		border: 6px solid #00adff;
	}
	100% {
		border: 6px solid #4BB543;
	}
}

@keyframes total-plus-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.total-plus-import-progress-message:after {
	content: '.';
	animation: dots 1s linear infinite;
}

.import-success .total-plus-import-progress-message:after {
	content: '';
	animation: none;
}

@keyframes dots {
	0%,
	20% {
		color: rgba(0, 0, 0, 0);
		text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
	}
	40% {
		color: #444;
		text-shadow: .25em 0 0 rgba(0, 0, 0, 0), .5em 0 0 rgba(0, 0, 0, 0);
	}
	60% {
		text-shadow: .25em 0 0 #444, .5em 0 0 rgba(0, 0, 0, 0);
	}
	80%,
	100% {
		text-shadow: .25em 0 0 #444, .5em 0 0 #444;
	}
	ss
}
